{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href= "{% static "style.css" %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class = "main_block">
  <div class = "navbar">
<h2 class = "nav_elem"><a  href = "http://127.0.0.1:8000/index">на главную</a></h2>
<h2 class = "nav_elem"><a  href = "http://127.0.0.1:8000/accounts/logout/">выйти</a></h2>
<h2 class ="nav_elem"><a href = "http://127.0.0.1:8000/search/">поиск</a></h2>
<h2 class ="nav_elem" ><a href = "http://127.0.0.1:8000/add/">добавить</a></h2>
  </div>



    {% block content %}
    <ul class="sidebar-nav">


    
       {% if user.is_authenticated %}
         <li>User: {{ user.get_username }}</li>
         <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
       {% else %}
         <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
       {% endif %} 
      </ul>
    {% endblock %}
  </div>

</body>
</html>