{% extends "base.html" %}

{% block content %}
    <p>{{ question.title }}</p>
    <p>{{question.text}}</p>
    <p>{{question.pub_date }}</p>
    <p>{{question.author}}</p>
    <p>{{ question.id }}</p>
    <p>{{ question.comment}}
        {% for comment in commentary_list %}

            <p>{{comment.texts}}</p>
        {% endfor %}

    <li><a href = "comment/">комментировать</a></li> 
    <p>

            <form method = "POST" action = "/{{question.id}}/select/">
                {% csrf_token %}
                {% for choice in choice_list %}
                    <input type = 'radio' name = "choice" value = "{{choice.id}}">
                    <label>{{choice.choice_text}}</label>
                {% endfor %}
                <input type="submit" value="Отправить">
            </form> 

            <p>
                <form method = "POST" action = "/{{question.id}}/upvote/">
                    {% csrf_token %}
                    <p>{{question.upvotes}}</p>
                <input type = "submit" value = "upvote">
                </form>
                <form method = "POST" action = "/{{question.id}}/downvote/">
                    {% csrf_token %}
                    <p>{{question.downvotes}}</p>
                <input type = "submit" value = "downvote">
                </form>
            </p>

    </p> 


{% endblock %}